/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/*Base Rules*/
html{
  /*basing off of the perfect 4th from www.modularscale.com*/
  font-size: 18px;
  line-height: 24px; /* 1.2*18/16=1.35 , seems too large, so shrink this # */
  font-family: Gautami, "Gill Sans Nova", Georgia, Verdana, sans-serif;
/*maybe use courier for the caption things*/
}
header{
  background-color: black;
  color: white;
  padding-top: 1.222em;
  padding-bottom: 1em;
  width: 100%;
}

main {
  padding-left: 22px;
  padding-right: 22px;
}
h1, h2, h3, h4, h5, h6{
font-weight: bold;
}
h1{
  font-size: 1.777em;2.369em;
}
h2{
  padding-top: 21.6px;
}
h3{
  padding-top: 21.6px;
  padding-bottom: 1.6px;
}
h4{
  padding-top: 16.4px;
  padding-bottom: 1.6px;
}
#menu{
  text-align: right;
  padding-right: 22px;
  font-size: 14px;
  color: white;
}
#logo{
  padding-left: 22px;
}
#biblestudy{
  list-style-type: disc;
  padding-left: 22px;
}

/* images */
img{
  display: block;
  width: 50%;
}
footer{
  background-color: black;
  color: white;
  padding-left: 22px;
  padding-right: 22px;
}


/*Layout Rules*/

/*Module Rules*/
#header{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}
#logo{
  grid-column: 1;
}
#menu{
  grid-column: 2;
}
/*State Rules*/
