/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/*Base Rules*/
html {
  /*basing off of the perfect 4th from www.modularscale.com*/
  font-size: 20px;
  background-color: #e8e6e4;
  line-height: 26px; /* 1.2*20=24 , seems too small, so make this number bigger */
  font-family: Montserrat, Helvetica, "Gill Sans Nova", Georgia, Verdana, sans-serif;
}
header {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

main {
  padding-left: 20px;
  padding-right: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1, h2 {
  color: #007499;
  font-size: 30px; /*35.538px (next size up)felt too large, so dropped the size till comfortbale*/
  padding-bottom: 13px;
}
h2 {
  padding-top: 13px;
}
h3 {
  color: #FBB903;
  font-size: 26.66px; /*em=1.666 */
  padding-bottom: 7.5px;
}
p {
  padding-bottom: 13px;
}
p a {
  color: #00B2CE;
}
figcaption {
  font-size: 20px;
  padding-top: 7.5px;
}
footer {
  background-color: #007499;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.endingp {
  padding-bottom: 7.5px;
}
nav {
  padding-right: 7.5px;
}
nav a {
  background-color: #007499;
  border-radius: 7.5px;
  color: white;
  display: block;
  font-size: 16px;
  padding: 3.75px 0;
  text-decoration: none;
}
nav ul li {
  text-align: center;
  padding-bottom: 7.5px;
}
/*colors in the logo: orange= #FC7203  dark blue=#007499  light blue=#00B2CE
     yellow=#FBB903  grey=#616161 */
#closing h2 {
  line-height: 39px; /* (26/20)*30=39 */
  padding-bottom: 0;
}
#logo {
  padding-left: 22px;
}
#who {
  padding-top: 13px;
  padding-bottom: 7.5px;
}
#dates {
  list-style-type: square;
  padding-bottom: 16.4px;
  padding-left: 22px;
}

/* images */
img {
  display: block;
  max-width: 100%;
}

/*Module Rules*/
#header {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}
#header img {
  grid-column: 1/2;
  align-self: end;
  width: 180px;
}
.menu {
  grid-column: 2/2;
}

/*Layout Rules*/
@media screen and (min-width: 440px) {
  #header img {
    width: 300px;
  }
}
@media screen and (min-width: 592px) {
  p {
    width: 552px;
  }
  figure {
    width: 552px;
  }
}
@media screen and (min-width: 708px) {
  #logo {
    padding-left: 40px;
  }
  #menu a {
    font-size: 26.66px;
    line-height: 48px; /* 27px x 1.2~32px (times 1.5)=48px */
  }
  main {
    padding-left: 40px;
  }
  nav {
    padding-right: 13px;
  }
  h1, h2 {
    font-size: 35.538px;
  }
  h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 884px) {
  #header {
    grid-template-columns: 30% 70%;
  }
  nav {
    padding: 0 20px;
  }
  nav ul {
    display: flex;
    margin: 0 -3.75px;
  }
  nav ul li {
    flex-grow: 1;
    margin: 0 3.75px;
    text-align: center;
  }
  figure {
    width: 850px;
  }
  .images {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 20px;
    grid-template-columns: 63% 57%;
    padding-bottom: 13px;
    width: 884px;
  }
  .images img {
    grid-column: 1/2;
    width: 552px;
  }
  .images figcaption {
    grid-column: 2/2;
    padding-top: 0;
    width: 153px;
  }
}




/*State Rules*/
